<full-calendar [options]="calendarOptions"></full-calendar>
<!-- Event Detail Dialog -->
<p-dialog header="{{event.title}}" [modal]="true" [(visible)]="visible"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <div class="grid gap-4 mt-4">
        <p-timeline [value]="timeline" align="alternate">
            <ng-template #content let-timeline>
                {{ timeline.date }}
            </ng-template>
        </p-timeline>
        <div class="flex justify-between w-full gap-2 mb-4">
            <p-button class="w-full" label="Cancel Appointment" severity="danger" (click)="visible = false" />
            <p-button class="w-full" label="Join the Conversation" [disabled]="event.title.length == 0" />
        </div>
    </div>
</p-dialog>