<div>
  <div id="header" class="pb-7">
    <h2 class="text-800 text-primary-900 text-4xl font-semibold" style="margin: 0">
      Dashboard
    </h2>
  </div>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Overview</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0" class="col-12">

        <div class="grid mb-1">
          <!-- Card 01 -->
          <p-card class="col-12 md:col-4 h-15rem">
            <ng-template #title class="m-0"> Available Credits </ng-template>
            <ng-template #subtitle class="m-0">
              Expires at 12-Dec-2025</ng-template>
            <div class="flex flex-column gap-1 mt-4">
              <h2 class="text-primary-500 text-7xl font-bold" style="margin: 0">
                300 $
              </h2>
              <a href="" style="text-decoration: underline">Buy More Credits</a>
            </div>
          </p-card>

          <!-- Card 02 -->
          <p-card class="col-12 md:col-4 h-15rem">
            <ng-template #title class="m-0"> Total Appointments </ng-template>
            <ng-template #subtitle class="m-0"> Since 01-Jan-2025</ng-template>
            <div class="flex flex-column gap-1 mt-4">
              <h2 class="text-primary-500 text-7xl font-bold" style="margin: 0">
                20
              </h2>
              <a href="" style="text-decoration: underline">View Schedule</a>
            </div>
          </p-card>
        </div>

        <div class="grid">
          <!-- Card 03 -->
          <p-card class="col-12 md:col-6">
            <ng-template #title class="m-0"> Upcoming Appointments </ng-template>
            <ng-template #subtitle class="m-0"> Most Recent Appointment</ng-template>
            <div class="flex flex-column gap-2 mt-4">
              <p-accordion>
                <div *ngFor="let data of appointments">
                  <p-fieldset legend="{{data.appointmentDate}} - {{data.appointmentTime}}">
                    <p class="m-0">
                      The appointment is set with {{data.doctorName}} for cough
                    </p>
                  </p-fieldset>
                </div>
              </p-accordion>
              <a href="" style="text-decoration: underline">View All Schedules</a>
            </div>
          </p-card>

          <!-- Card 04 -->
          <p-card class="col-12 md:col-6">
            <ng-template #title class="m-0"> Workout Schedule </ng-template>
            <ng-template #subtitle class="m-0"> Today's Schedule </ng-template>
            <div class="flex flex-column gap-2 mt-4 mb-4">
              <app-workout-schedule />
            </div>
            <div class="col-12 md:col-4">
              <p-button type="button" label="Add Schedule" (click)="showDialog()" />
            </div>
          </p-card>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

  <!-- Workout Schedule Dialog -->
  <p-dialog header="Add Workout Schedule" [modal]="true" [(visible)]="visible"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <div class="flex items-center gap-4 mb-4">
      <input placeholder="Workout Title" [(ngModel)]="workoutEvent.title" pInputText id="task-help"
        aria-describedby="task-help" />
      <p-datepicker [(ngModel)]="workoutEvent.start" placeholder="Start Time" [timeOnly]="true" hourFormat="12" />
      <p-datepicker [(ngModel)]="workoutEvent.end" placeholder="End Time" [timeOnly]="true" hourFormat="12" />
    </div>
    <div class="flex justify-between w-full gap-2 mb-4">
      <p-button class="w-full" label="Cancel" severity="secondary" (click)="visible = false" />
      <p-button class="w-full" label="Add" (click)="addWorkout()" />
    </div>
    <p-listbox [options]="dashboardService.workoutSchedules" [group]="true" class="w-full md:w-56">
      <ng-template let-group #group>
        <div class="flex items-center">
          <span>{{ group.title }}</span> (<span>{{ formatDate(group.start) }} - {{ formatDate(group.end) }}</span>)
        </div>
      </ng-template>
    </p-listbox>
  </p-dialog>
</div>