<div>
    <div id="header" class="pb-7 grid grid-nogutter justify-between">
        <div class="col-12 md:col-6">
            <h2 class="text-800 text-primary-900 text-4xl font-semibold">
                Book Appointment
            </h2>
        </div>
    </div>

    <div class="card">
        <p-table [value]="consultants" [lazy]="true" (onLazyLoad)="getAllActiveConsultants($event)" [paginator]="true"
            [rows]="size" [first]="first" [totalRecords]="rows" [sortField]="sort" [sortOrder]="order"
            [tableStyle]="{ 'min-width': '50rem' }" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]">
            <ng-template #header>
                <tr>
                    <th pSortableColumn="fullName" style="width:25%">
                        <div class="flex items-center gap-2">
                            Name
                            <p-sortIcon field="fullName" />
                        </div>
                    </th>
                    <th style="width:25%">Email</th>
                    <th style="width:25%">Action</th>
                </tr>
            </ng-template>
            <ng-template #body let-consultants>
                <tr>
                    <td>{{ consultants.fullName }}</td>
                    <td>{{ consultants.email }}</td>
                    <td>
                        <div class="w-4">
                            <p-button variant="text" (click)="showDialog(consultants.email)">Book Consultation</p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #paginatorright />
        </p-table>
    </div>

    <!-- Book Appointment Dialog -->
    <p-dialog header="Book Your Appointment" [modal]="true" [(visible)]="visible"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <p class="text-primary-600">In order book appointment for more than 30 min, book multiple slots in series.</p>
        <br>
        <div class="flex items-center gap-4 mb-4">
            <p-datepicker (onSelect)="loadAvailableTimes()" size="large" [minDate]="minDate" [disabledDays]="[0,6]"
                [(ngModel)]="appointmentDate" [inline]="true" />
            <!-- Show available time slots in chip/button style -->
            <p-selectButton [options]="availableTimes" [multiple]="true" [(ngModel)]="appointmentTime" optionLabel="label"
                styleClass="time-chip-group">
            </p-selectButton>
        </div>
        <div class="flex w-full gap-2 mb-4">
            <p-button class="w-6" label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button class="w-6" label="Book Appointment" (click)="bookAppointment()"/>
        </div>
    </p-dialog>
</div>