<div>
    <div id="header" class="pb-7 grid grid-nogutter justify-between">
        <div class="col-12 md:col-6">
            <h2 class="text-800 text-primary-900 text-4xl font-semibold">
                My Profile
            </h2>
        </div>
        <!-- <div class="col-12 md:col-6">
      <input placeholder="Search for doctors, appointments..." pInputText id="task-help" aria-describedby="task-help" />
    </div> -->
    </div>

    <div class="flex flex-column gap-6">
        <div class="grid grid-nogutter gap-3">

            <div class="col-4">
                <p-floatlabel>
                    <input id="fullName" [(ngModel)]="userProfile.fullName" pInputText id="task-help"
                        aria-describedby="task-help" />
                    <label for="fullName">Full Name</label>
                </p-floatlabel>
            </div>
            <div class="col-4">
                <p-floatlabel>
                    <input id="email" [(ngModel)]="userProfile.email" pInputText id="task-help"
                        aria-describedby="task-help" />
                    <label for="email">Email</label>
                </p-floatlabel>
            </div>

        </div>
        <div class="grid grid-nogutter gap-3"
            *ngIf="userProfile.consultationRates && userProfile.workingHourEnd && userProfile.workingHourEnd">

            <div>
                <p-floatlabel>
                    <p-inputnumber id="consultationRates" [(ngModel)]="userProfile.consultationRates" mode="decimal"
                        [format]="false" />
                    <label for="consultationRates">Consultation Rates / 30 minutes</label>
                </p-floatlabel>
            </div>

            <div>
                <p-floatlabel>
                    <p-datepicker id="workingHourStart" [(ngModel)]="userProfile.workingHourStart" [timeOnly]="true"
                        hourFormat="12" />
                    <label for="workingHourStart">Starting Working Hour</label>
                </p-floatlabel>
            </div>

            <div>
                <p-floatlabel>
                    <p-datepicker id="workingHourEnd" [(ngModel)]="userProfile.workingHourEnd" [timeOnly]="true"
                        hourFormat="12" />
                    <label for="workingHourEnd">Starting Working Hour</label>
                </p-floatlabel>
            </div>

        </div>
        <div class="grid grid-nogutter gap-3">
            <div>
                <p-button class="w-full" label="Update Profile" (click)="updateUserProfile()" />
            </div>
            <div>
                <p-button variant="outlined" severity="danger" class="w-full" label="Log out" (click)="logout()" />
            </div>
        </div>
    </div>
</div>